<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CatchHealthIssue</servlet-name>
        <servlet-class>bose.CatchHealthIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>bose.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>bose.registerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchForumPost</servlet-name>
        <servlet-class>bose.CatchForumPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>bose.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImage</servlet-name>
        <servlet-class>bose.ViewImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchSolution</servlet-name>
        <servlet-class>bose.CatchSolution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchHealthIssue2</servlet-name>
        <servlet-class>bose.CatchHealthIssue2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDocs</servlet-name>
        <servlet-class>bose.google.UploadToDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>bose.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchReport</servlet-name>
        <servlet-class>bose.CatchReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showImageReport</servlet-name>
        <servlet-class>bose.showImageReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatchHealthIssue</servlet-name>
        <url-pattern>/CatchHealthIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatchForumPost</servlet-name>
        <url-pattern>/CatchForumPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImage</servlet-name>
        <url-pattern>/ViewImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatchSolution</servlet-name>
        <url-pattern>/CatchSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatchHealthIssue2</servlet-name>
        <url-pattern>/CatchHealthIssue2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDocs</servlet-name>
        <url-pattern>/UploadToDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatchReport</servlet-name>
        <url-pattern>/CatchReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showImageReport</servlet-name>
        <url-pattern>/showImageReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
